<%- include('../partials/userHeader')%>
<style>
  
  .profilepic {
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #111;
    
  }
  
  .profilepic:hover .profilepic__content {
    opacity: 1;
  }
  
  .profilepic:hover .profilepic__image {
    opacity: .5;
  }
  
  .profilepic__image {
    object-fit: fill;
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }
  
  .profilepic__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
  
  .profilepic__icon {
    color: white;
    padding-bottom: 8px;
  }
  
  .fas {
    font-size: 20px;
  }
  
  .profilepic__text {
    text-transform: uppercase;
    font-size: 12px;
    width: 50%;
    text-align: center;
  } 
  
  </style>
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/userProfile">User Profile</a></li>
              <li class="breadcrumb-item active" aria-current="page">Change Password </li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <div class="d-flex justify-content-center">
                <div class="profilepic d-flex justify-content-center ">
                  
                  <img class="" src="/uploads/<%-user.dp.filename%>" alt="avatar">
    
                  </div></div>
              <h5 class="my-3"><%-user.username%></h5>

              <div class="form-control d-flex justify-content-between border" >
                <span class="fs-6 fw-bold text-dark align-self-center d-flex" id="refferalId"><%-user.referral_code%></span>
                <button class="btn px-3 text-dark" onclick="CopyToClipboard('refferalId');return false;">Copy</button>
              </div>
              <p class="text-muted m-0 text-center" style="font-size: 13px;">Share your refferal Id to win ₹<%-referral.referrer_offer%>/- wallet  balance</p>
            </div>
          </div>

          <div class="card mb-4 ">
            <div class="card-body p-4 d-flex justify-content-between align-items-center">
              <i class="fa-solid fa-wallet fa-xl"><span class="fs-6  logo"> Wallet</span> </i>
              <span>Balance:<span class="fs-4 fw-bold"> ₹ <%-user.wallet%>/-</span></span>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex px-5  align-items-center p-3">
                    <i class="fa-solid fa-calendar mx-2 text-dark"></i>
                  <a href="/orders"><p class="mb-0 fw-bold text-dark">MY ORDERS</p></a>
                </li>
                <!-- <li class="list-group-item d-flex px-5  align-items-center p-3">
                  <i class="fa-solid fa-heart mx-2 text-dark"></i>
                <a href="/wishlist"><p class="mb-0 fw-bold text-dark">MY WISHLIST</p></a>
              </li> -->
                <li class="list-group-item d-flex px-5  align-items-center p-3">
                  <i class="fa-solid fa-user-gear mx-2 text-primary"></i>
                  <p class="mb-0 fw-bold text-primary"> ACCOUNT SETTINGS</p>
                </li>
                <li class="  list-group-item d-flex px-5 mx-5 align-items-center p-3">
                    <i class="fa-regular fa-circle-dot mx-2 text-dark"></i>
                    <a href='/userProfile'> <p class="mb-0 text-dark">Profile Information</p></a>
                </li>
                <li class="list-group-item d-flex px-5 mx-5 align-items-center p-3">
                    <i class="fa-regular fa-circle-dot mx-2 text-dark"></i>
                    <a href='/viewAddress'><p class="mb-0 text-dark">Manage Addresses</p></a>
                </li>
                <li class=" bg-light list-group-item d-flex px-5 mx-5 align-items-center p-3">
                    <i class="fa-regular fa-circle-dot mx-2 text-primary"></i>
                    <a href="/changePassword"><p class="mb-0 text-primary">Change Password </p></a>
                </li>

                <li class="list-group-item d-flex px-5  align-items-center p-3">
                  <i class="fa-solid fa-id-card-clip mx-2 text-dark"></i>
                  <p class="mb-0 fw-bold text-dark"> MY STUFFS</p>
                </li>
                <li class="  list-group-item d-flex px-5 mx-5 align-items-center p-3">
                    <i class="fa-regular fa-circle-dot mx-2 text-dark"></i>
                    <a href='/myCoupons'> <p class="mb-0 text-dark">My Coupons</p></a>
                </li>
                <li class="list-group-item d-flex px-5 mx-5 align-items-center p-3">
                    <i class="fa-regular fa-circle-dot mx-2 text-dark "></i>
                    <a href='/wishlist'><p class="mb-0 text-dark">My Wishlist</p></a>
                </li>
                <li class="list-group-item d-flex px-5 mx-5 align-items-center p-3">
                    <i class="fa-regular fa-circle-dot mx-2 text-dark"></i>
                    <a href=""><p class="mb-0 text-dark">Ratings And Reviews</p></a>
                </li>
                <li class="list-group-item d-flex px-5 align-items-center p-3">
                    <i class="fa-solid fa-right-from-bracket mx-2 text-dark"></i>
                    <a href="/userLogout"><p class="mb-0 fw-bold text-dark">LOGOUT</p></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="mt-3 text-center">
                    <%- include('../partials/flash')%>
                    </div>
                  <form class="form-horizontal" method="post" action="/changePassword"  id="change-password" novalidate>

                    <h3 class="text-center mb-3">Change Password</h3>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" onkeyup="validateCPassword()" >
                        <label for="password" class=" text-muted">Current Password</label>
                        <span id="cpassword-error"></span>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="newpassword" id="newpassword" placeholder="Password" onkeyup="validatePassword()">
                        <label for="newpassword" class=" text-muted">New Password</label>
                        <span id="newpassword-error"></span>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" onkeyup="validateConfirmPassword()">
                        <label for="confirmpassword" class=" text-muted">Confirm Password</label>
                        <span id="confirmpassword-error"></span>
                      </div>
                      <div class="text-center"><button type="submit" class="btn btn-primary px-5 mb-3">Submit</button>
                      
                      </div>
                      <span id="submit-error"></span>
                  </form>
            
              </div>
            </div>
          
          
      </div>
    </div>
  </section>
  <%- include('../partials/footer')%>
  <script>
const form = document.getElementById("change-password");
  
  const newpasswordError=document.getElementById("newpassword-error")
  const cpasswordError=document.getElementById("cpassword-error")
  const confirmpasswordError =document.getElementById("confirmpassword-error")

  form.addEventListener('submit', e => {
      
      if(validateCPassword()&&validatePassword()&&validateConfirmPassword()){
         console.log('hai')
      }else{
        e.preventDefault()
        var error=document.getElementById('submit-error')
        error.innerHTML='Fill all fields'
        error.style.color='red'
        setTimeout(function(){
          error.innerHTML=''
        },3000);
      } 
    })

   
function validateCPassword(){
    var password =document.getElementById('password').value.trim();
    if(password.length==0){
        cpasswordError.innerHTML ='Enter current password';
        cpasswordError.style.color='red'
        return false;
    
    }
    cpasswordError.innerHTML='Enter new password';
    cpasswordError.style.color='green'
    return true;  
}
function validatePassword() {
    var password =document.getElementById('newpassword').value.trim();
    var Required=8;
    var left=Required - password.length;
    
    if(left>0){
        newpasswordError.innerHTML =left+ 'more character Required';
        newpasswordError.style.color='red'
        return false;
    
    }
    newpasswordError.innerHTML='Password is valid';
    newpasswordError.style.color='green'
    return true;    
    
}

function validateConfirmPassword(){
  var password =document.getElementById('newpassword').value.trim();
  var confirmpassword =document.getElementById('confirmpassword').value.trim();
  if(password===confirmpassword){
    confirmpasswordError.innerHTML="Passwords match"
    confirmpasswordError.style.color='green'
    return true;    
  }
  confirmpasswordError.innerHTML="Passwords doesn't match"
    confirmpasswordError.style.color='red'
    return false;


}

  </script>

 
 

  